rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Public readable & writeable CMS content (Hero, Universities, Scholarships, Blogs, Founder Profile, Contact Info, Reviews)
    match /cms/{documentId} {
      allow read, write: if true;
    }

    // Student Applications
    match /applications/{docId} {
      allow create: if true;
      allow read, update, delete: if true;
    }

    // AI Profile Assessments
    match /aiAssessments/{docId} {
      allow create: if true;
      allow read, update, delete: if true;
    }

    // Payments
    match /payments/{docId} {
      allow create, read, update, delete: if true;
    }

    // Users and Admins collection
    match /users/{userId} {
      allow read, write: if true;
    }
  }
}
